<p id="notice"><%= notice %></p>



<div class="panel panel-primary">
  <div class="panel-heading"><h3>Pet Records Listing</h3></div>
  <div class="panel-body">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>

        <th colspan="3">Pet Name</th>
        <th colspan="3">Type of Pet</th>
        <th colspan="3">Breed</th>
        <th colspan="3">Age</th>
        <th colspan="3">Weight</th>
        <th colspan="3">Date of Last Visit</th>
        <th colspan="3" style="text-align: center;">View</th>
        <th colspan="3" style="text-align: center;">Edit</th>
        <th colspan="3" style="text-align: center;">Delete</th>

      </tr>
      </thead>

      <tbody>
      <% @pets.each do |p| %>
          <tr>
            <td colspan="3"><%=p.name %></td>
            <td colspan="3"><%=p.typeofpet.name %></td>
            <td colspan="3"><%=p.breed %></td>
            <td colspan="3"><%=p.age %></td>
            <td colspan="3"><%=p.weight %></td>
            <td colspan="3"><%=p.lastvisit.to_s(:long) %></td>
            <td colspan="3" style="text-align: center;"><%= link_to p do %>
                                                         <span class="glyphicon glyphicon-search"></span>
                                                        <% end %></td>
            <td colspan="3" style="text-align: center;"><%= link_to edit_pet_path(p.id) do %> <span class="glyphicon glyphicon-pencil"></span>
              <% end %></td>
            <td colspan="3" style="text-align: center;"><%= link_to  p, method: :delete, data: { confirm: 'Are you sure?' } do %> <span class="glyphicon glyphicon-trash"></span>
              <% end %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
<br>

<div style="text-align: center;margin-left: auto;margin-right: auto">
  <%= link_to 'New Pet Record', new_pet_path,  :class=> 'btn btn-primary' %>
</div>