<p id="notice"><%= notice %></p>


<div class="panel panel-primary">
  <div class="panel-heading"><h3>Appointment Listing</h3></div>
  <div class="panel-body">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th colspan="3">Date of Visit</th>
        <th colspan="3">Doctor's Name</th>
        <th colspan="3">Pet Name</th>
        <th colspan="3">Customer Name</th>
        <th colspan="3">Requires Reminder</th>
        <th colspan="3">Reason for Visit</th>
        <th colspan="3" style="text-align: center;">View</th>
        <th colspan="3" style="text-align: center;">Edit</th>
        <th colspan="3" style="text-align: center;">Delete</th>

      </tr>
      </thead>

      <tbody>
      <% @appointments.each do |ap| %>
          <tr>
            <td colspan="3"><%=ap.date.to_s(:long) %></td>
            <td colspan="3"><%=ap.doctor.name %></td>
            <td colspan="3"><%=ap.pet %></td>
            <td colspan="3"><%=ap.customer %></td>

              <% if ap.reminder  %>
                 <td colspan="3">Yes</td>
                <%else%>
                    <td colspan="3">No</td>
                <%end%>

            <td colspan="3"><%=ap.reason %></td>

            <td colspan="3" style="text-align: center;"><%= link_to ap do %>
                  <span class="glyphicon glyphicon-search"></span>
              <% end %></td>
            <td colspan="3" style="text-align: center;"><%= link_to edit_appointment_path(ap.id) do %> <span class="glyphicon glyphicon-pencil"></span>
              <% end %></td>
            <td colspan="3" style="text-align: center;"><%= link_to  ap, method: :delete, data: { confirm: 'Are you sure?' } do %> <span class="glyphicon glyphicon-trash"></span>
              <% end %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

</div>
  </div>
<br>

<div style="text-align: center;margin-left: auto;margin-right: auto">
<%= link_to 'New Appointment', new_appointment_path,  :class=> 'btn btn-primary' %>

</div>